<!DOCTYPE html>
<html>
<head>
    <title>Netflix Tableau Dashboard</title>
</head>
<body>

<h1>Netflix Content Analytics</h1>

<!-- PASTE TABLEAU EMBED CODE BELOW -->
<div class='tableauPlaceholder' id='viz1767610321175' style='position: relative'>
    <noscript>
        <a href='#'>
            <img alt='Netflix Content Analytics'
                 src='https://public.tableau.com/static/images/Ne/NetflixContentDistribution_17024787172750/Practice/1_rss.png'
                 style='border:none;' />
        </a>
    </noscript>

    <object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='NetflixContentDistribution_17024787172750/Practice' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='language' value='en-US' />
    </object>
</div>

<script type='text/javascript'>
    var divElement = document.getElementById('viz1767610321175');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width='100%';
    vizElement.style.height='800px';

    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>

</body>
</html>
